/* ------ The whole page ------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
/* ------ END ------ */

/* ------ Navigation Menu ------ */
/* sideNav */
div#sideNav ul#slide-out {
  width: 180px;
  background-color: #383c4a;
}

div#sideNav ul#slide-out img#logo {
  width: 100px;
  height: 100px;
}

div#sideNav ul#slide-out li a {
  padding: 0 20px;
}

div#sideNav ul#slide-out li a span {
  text-transform: uppercase;
  color: #c8c8c8;
  font-size: 0.8rem;
}

div#sideNav ul#slide-out li a i {
  margin: 0 20px 0 0;
}

div#sideNav ul#slide-out li:nth-child(1) {
  padding: 10px 0;
  border-bottom: 2px solid rgba(128, 128, 128, 0.6);
}

div#sideNav ul#slide-out li:nth-child(1) a:hover {
  background-color: #383c4a;
}

div#sideNav ul#slide-out li:not(:nth-child(1)) a.active,
div#sideNav ul#slide-out li:not(:nth-child(1)) a:hover {
  background-color: rgba(128, 128, 128, 0.6);
}

div#sideNav ul#slide-out li:not(:nth-child(1)) a.active {
  background-color: grey;
  border-left: 5px solid #d32f2f;
}

div#sideNav ul#slide-out li a:hover span {
  color: #fff;
}

div#sideNav ul#slide-out li a.active span {
  color: #fff;
}

div#sideNav ul#slide-out li:nth-child(9) {
  border-top: 1px dashed rgba(128, 128, 128, 0.6);
}
div#sideNav ul#slide-out li:nth-child(9) a i{
  margin-left: 5px;
}
/* END */

/* sideNavMenu */
div#sideNav a#sideNavMenu {
  position: fixed;
  top: 0;
  z-index: 2;
  transition: top 0.3s;
}

div#sideNav a#sideNavMenu i.material-icons {
  font-size: 35px;
  padding: 15px;
}
/* END */

/* ------ fixedNav ------ */
div#fixedNav {
  position: fixed;
  top: 0;
  z-index: 1;
  height: 65px;
  width: 100%;
  background: #f7f7f7;
  border-bottom: 1px solid #dadada;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  background-image: linear-gradient(#fff, #f1f1f1);
  color: #555;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: top 0.3s;
}

div#fixedNav div#navContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* ------ END ------ */

/* ------ main ------ */
main {
  padding-left: 180px;
}

/* --- section --- */
/* make the section full height of Viewport*/
main .full-height {
  height: 100vh;
}
/* remove the extra padding from section */
main .section {
  padding: 0;
}

section h3.page-title {
  font-size: 35px;
  margin: 0;
  padding: 20px;
  text-transform: uppercase;
}

/* section Intro */
section#intro {
  padding-top: 85px;
  text-align: center;
}

section#intro p {
  font-size: 1.8rem;
  color: rgb(122, 122, 122);
}

section#intro a.btn-floating {
  z-index: 0;
  margin-top: 20px;
}

section#intro .highlight {
  border-bottom: 2px solid;
}
/* END */

/* section About */
section#about div.about-row {
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

section#about div.about-row div {
  align-self: center;
}

section#about div.about-row div.about-img {
  max-width: 60%;
}

section#about div.about-row div.about-content {
  text-align: right;
  border-left: 5px #ff5252 solid;
  min-width: 50%;
}

section#about div.about-row div.about-content ul li {
  line-height: 2rem;
}

section#about div.about-row div.about-content#selfAssess ul li b:nth-child(1) {
  display: none;
}

section#about img.responsive-img {
  max-width: 65%;
}
/* END */

/* section Experience */
section#experience div#expRow {
  margin-top: 10px;
  padding: 10px 10px 10px 20px;
}

section#experience div#expRow div.card-header {
  height: 50px;
  background: #fafafa;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
}

section#experience div#expRow div.card-header span {
  padding-left: 10px;
}

section#experience div#expRow .card-head {
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section#experience div#expRow .card-head i {
  color: darkgreen;
}

section#experience div#expRow .card-head div {
  align-self: center;
  text-align: right;
}

section#experience div#expRow blockquote {
  border-left: 5px solid #ffab40;
}

section#experience div#expRow ul li {
  list-style: disc inside;
  line-height: 2rem;
}
/* END */

/* section Projects */
section#projects div.carousel {
  min-height: 800px;
}

section#projects div.carousel div.carousel-item div.project {
  max-width: 75%;
  height: 85%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section#projects div.carousel div.carousel-item div.project div.proContainer {
  align-self: center;
  max-width: 90%;
  border-top: 4px solid rgba(83, 219, 112, 0.9);
  border-right: 4px solid rgba(83, 219, 112, 0.9);
  border-bottom: 4px solid rgba(142, 100, 221, 0.9);
  border-left: 4px solid rgba(142, 100, 221, 0.9);
  position: relative;
  overflow: hidden;
}

section#projects
  div.carousel
  div.carousel-item
  div.project
  div.proContainer
  div.projectIntro {
  position: absolute;
  top: -100%;
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
  background: rgba(255, 255, 255, 0.8);
  background: linear-gradient(
    rgba(83, 219, 112, 0.9),
    rgba(142, 100, 221, 0.9)
  );
}

section#projects
  div.carousel
  div.carousel-item
  div.project
  div.proContainer:hover
  div.projectIntro {
  top: 0;
  transition: top 0.5s ease-in-out;
}

section#projects
  div.carousel
  div.carousel-item
  div.project
  div.proContainer
  div.projectIntro
  div.outline {
  height: 60%;
  width: 80%;
  margin: 0 auto;
}

section#projects
  div.carousel
  div.carousel-item
  div.project
  div.proContainer
  div.projectIntro
  div.outline
  h5 {
  color: black;
  margin: 5% auto;
}

section#projects
  div.carousel
  div.carousel-item
  div.project
  div.proContainer
  div.projectIntro
  div.outline
  div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section#projects
  div.carousel
  div.carousel-item
  div.project
  div.proContainer
  div.projectIntro
  div.outline
  div
  p {
  color: black;
  font-size: 1.2rem;
}

section#projects
  div.carousel
  div.carousel-item
  div.project
  div.proContainer
  div.projectIntro
  div.outline
  div
  ul.tags {
  align-self: center;
}

section#projects
  div.carousel
  div.carousel-item
  div.project
  div.proContainer
  div.projectIntro
  div.outline
  div
  ul.tags
  li {
  display: inline-block;
  padding: 0.3em 0.8em;
  margin: 1em;
  background-color: #323232;
  color: #fff;
  font-size: 1.2em;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
}

section#projects
  div.carousel
  div.carousel-item
  div.project
  div.proContainer
  div.projectIntro
  div.sourceCode {
  height: 40%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

section#projects
  div.carousel
  div.carousel-item
  div.project
  div.proContainer
  div.projectIntro
  div.sourceCode
  a {
  color: white;
  align-self: center;
}

section#projects
  div.carousel
  div.carousel-item
  div.project
  div.proContainer
  div.projectIntro
  div.sourceCode
  a:hover {
  color: black;
}
/* END */

/* section Skills */
section#skills div#skillsRow {
  margin-top: 10px;
  padding: 10px;
}

section#skills div#skillsRow h5 {
  font-weight: lighter;
}

/* Container for skill bars */
section#skills div.skillContainer {
  width: 100%;
  background-color: #e9e5e2;
  margin: 10px auto;
  padding: 1px 2px;
  border-radius: 20px;
  box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
}

section#skills div.skillContainer .skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white; /* White text color */
  border-radius: 15px;
  box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
  height: 25px;
  line-height: 25px;
  font-size: 0.9rem;
  overflow: hidden;
}

section#skills div.skillContainer .skills span.skillHead {
  align-self: flex-start;
  padding-left: 10px;
}

section#skills div.skillContainer .skills span.skillTail {
  padding-right: 10px;
}

section#skills div.skillContainer .html {
  width: 90%;
  background-color: #f674a4;
  background-image: linear-gradient(top, #f674a4, #e06995);
}
section#skills div.skillContainer .css {
  width: 85%;
  background-color: #2196f3;
  background-image: linear-gradient(top, #2196f3, #1d84d8);
}
section#skills div.skillContainer .js {
  width: 75%;
  background-color: #f0bb4b;
  background-image: linear-gradient(top, #f0bb4b, #d9aa44);
}
section#skills div.skillContainer .libs {
  width: 80%;
  background-color: #a1ce5b;
  background-image: linear-gradient(top, #a1ce5b, #91ba52);
}
section#skills div.skillContainer .frameworks {
  width: 65%;
  background-color: #66b3cc;
  background-image: linear-gradient(top, #66b3cc, #5da3ba);
}

section#skills div.skillContainer .node {
  width: 65%;
  background-color: #f674a4;
  background-image: linear-gradient(top, #f674a4, #e06995);
}
section#skills div.skillContainer .sql {
  width: 60%;
  background-color: #2196f3;
  background-image: linear-gradient(top, #2196f3, #1d84d8);
}
section#skills div.skillContainer .database {
  width: 70%;
  background-color: #a1ce5b;
  background-image: linear-gradient(top, #a1ce5b, #91ba52);
}

section#skills div.skillContainer .chrome {
  width: 75%;
  background-color: #f674a4;
  background-image: linear-gradient(top, #f674a4, #e06995);
}
section#skills div.skillContainer .vscode {
  width: 80%;
  background-color: #f0bb4b;
  background-image: linear-gradient(top, #f0bb4b, #d9aa44);
}
section#skills div.skillContainer .git {
  width: 70%;
  background-color: #66b3cc;
  background-image: linear-gradient(top, #66b3cc, #5da3ba);
}
/* END */

/* section Education */
section#education div#eduRow {
  margin-top: 10px;
  padding-left: 10px;
  border-left: 5px solid #039be5;
}

section#education div#eduRow div.col h6.header {
  position: relative;
}

section#education div#eduRow div.col h6.header > span {
  position: absolute;
  left: -34px;
  top: -2px;
}

section#education div.card-content ul li {
  line-height: 2rem;
}

section#education div.card-image {
  position: relative;
  overflow: hidden;
}

section#education div.card-image img {
  opacity: 1;
}

section#education div.card-image:hover img {
  opacity: 0.6;
  transition: opacity 0.5s ease-in-out;
}

section#education div.card-image span {
  position: absolute;
  bottom: -50px;
  height: 50px;
  width: 100%;
  line-height: 50px;
  padding-left: 25px;
  background: rgba(255, 255, 255, 0.8);
}

section#education div.card-image:hover span {
  bottom: 0;
  transition: bottom 0.5s ease-in-out;
}
/* END */

/* section Contact */
section#contact.full-height {
  height: 750px;
}

section#contact #contactList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px auto;
  padding: 30px;
}

section#contact #contactList p {
  margin: 15px 0;
}

section#contact #contactList p a:nth-child(1) {
  z-index: 0;
}

section#contact #contactList p a:nth-child(2) {
  margin-left: 10px;
  font-size: 1.2rem;
}

section#contact #contactList p a:nth-child(2):hover {
  border-bottom: 1px solid red;
}
/* END */

/* ------ @media ------ */
/* --- main --- */
@media (max-width: 992px) {
  main {
    margin-top: 0px;
    padding-left: 0;
  }
  div#fixedNav {
    padding-left: 0px;
  }
}

/* --- fixedNav --- */
@media (min-width: 992px) {
  div#fixedNav {
    display: none;
  }
}
/* END */

@media (max-width: 512px) {
  /* --- fixedNav --- */
  div#fixedNav {
    align-items: flex-end;
  }
  div#fixedNav div#navContainer {
    flex-direction: column;
  }
  div#fixedNav div#navContainer div {
    align-self: flex-end;
    padding-right: 15px;
  }
  div#fixedNav div#navContainer i {
    display: none;
  }
  /* END */

  /* section Intro */
  section#intro h3 {
    font-size: 1.5rem;
  }

  section#intro p {
    font-size: 1.2rem;
  }
  /* END */

  /* section Experience */
  section#experience div#expRow .card-head {
    flex-direction: column;
  }
  section#experience div#expRow .card-head a {
    align-self: center;
  }
  section#experience div#expRow .card-head div {
    align-self: center;
    text-align: center;
  }
  /* END */

  /* section Education */
  div.card-image span {
    line-height: 25px;
  }
  /* END */
}

/* section Intro */
@media (max-height: 452px) {
  section#intro h3 {
    font-size: 1.8rem;
    margin-bottom: 35px;
  }

  section#intro p {
    display: none;
  }
}
/* END */

/* section About */
@media (max-width: 738px) {
  section#about div.about-row {
    flex-direction: column;
  }

  section#about div.about-row div.about-content {
    border-left: none;
    text-align: center;
  }

  section#about div.about-row div.about-content ul li {
    list-style: none;
  }

  section#about
    div.about-row
    div.about-content#selfAssess
    ul
    li
    b:nth-child(1) {
    display: inline;
  }

  section#about
    div.about-row
    div.about-content#selfAssess
    ul
    li
    b:nth-child(2) {
    display: none;
  }

  section#about div.about-row div.about-img {
    text-align: center;
    max-width: 100%;
  }
}
/* END */

/* section Skills */
@media (max-width: 365px) {
  section#skills div.skillContainer .skills span.skillTail {
    display: none;
  }
}
/* END */

/* section Education */
@media (min-width: 1368px) {
  section#education div.card {
    display: flex;
    flex-direction: row;
  }
  section#education div.card-image {
    align-self: center;
    max-width: 50%;
  }
}
/* END */

/* section Contact */
@media (max-width: 390px) {
  section#contact #contactList {
    align-items: center;
  }
  section#contact #contactList p a:nth-child(2) {
    display: none;
  }
}
/* END */

/* section Projects */
@media (max-width: 1665px) {
  section#projects div.carousel div.carousel-item div.project div.proContainer {
    max-width: 100%;
  }
}

@media (max-width: 1258px) {
  section#projects div.carousel {
    min-height: 600px;
  }
}

@media (max-width: 915px) {
  section#projects div.carousel {
    min-height: 550px !important;
  }
}

@media (max-width: 750px) {
  section#projects div.carousel div.carousel-item div.project {
    max-width: 100%;
  }
  section#projects div.carousel div.carousel-item div.project div.proContainer {
    max-width: 75%;
  }
  section#projects div.carousel {
    min-height: 500px !important;
  }
}

@media (max-width: 650px) {
  section#projects div.carousel div.carousel-item div.project div.proContainer {
    max-width: 80%;
  }
  section#projects div.carousel {
    min-height: 450px !important;
  }
}

@media (max-width: 600px) {
  section#projects div.carousel {
    min-height: 400px !important;
  }
}

@media (max-width: 550px) {
  section#projects div.carousel div.carousel-item div.project {
    margin: 15px auto;
  }
  section#projects div.carousel div.carousel-item div.project div.proContainer {
    max-width: 75%;
  }
  section#projects div.carousel {
    min-height: 380px !important;
  }
}

@media (max-width: 450px) {
  section#projects div.carousel div.carousel-item div.project div.proContainer {
    max-width: 80%;
  }
  section#projects div.carousel {
    min-height: 360px !important;
  }
}

@media (max-width: 1168px) {
  section#projects
    div.carousel
    div.carousel-item
    div.project
    div.proContainer
    div.projectIntro
    div.outline
    div
    p {
    display: none;
  }
}

@media (max-width: 765px) {
  section#projects
    div.carousel
    div.carousel-item
    div.project
    div.proContainer
    div.projectIntro
    div.outline
    div
    ul.tags
    li {
    padding: 0.3em 0.5em;
    margin: 0.6em;
    font-size: 1em;
  }
}

@media (max-width: 550px) {
  section#projects
    div.carousel
    div.carousel-item
    div.project
    div.proContainer
    div.projectIntro
    div.outline
    div
    ul.tags
    li {
    padding: 0.2em 0.4em;
    margin: 0.4em;
    font-size: 0.8em;
  }

  section#projects
    div.carousel
    div.carousel-item
    div.project
    div.proContainer
    div.projectIntro
    div.sourceCode
    a
    i {
    font-size: 1.5em;
  }
}

@media (max-width: 320px) {
  section#projects
    div.carousel
    div.carousel-item
    div.project
    div.proContainer
    div.projectIntro
    div.outline
    div {
    display: none;
  }
}