#logo {
  width: 100px;
  height: 100px;
}
/* sidenav width */
#slide-out {
  width: 180px;
}
/* narrow the total width */
ul.sidenav li > a {
  padding: 0 20px;
}
ul.sidenav li > a > i.material-icons {
  margin: 0 20px 0 0;
}
/* add some padding to the logo and a bottom border to its parent */
ul.sidenav > li:nth-child(1) {
  padding: 10px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
/* remove the logo hover effect */
ul.sidenav > li:nth-child(1) > a:hover {
  background-color: white;
}

ul.sidenav li:not(:nth-child(1)) a.active,
ul.sidenav li:not(:nth-child(1)) a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  /* border-left: 5px solid rgb(255, 0, 0); */
}

ul.sidenav li:not(:nth-child(1)) a.active {
  background-color: rgba(0, 0, 0, 0.4);
  border-left: 5px solid rgb(255, 0, 0);
}

#fixedNav {
  position: fixed;
  top: 0;
  z-index: 1;
  height: 65px;
  width: 100%;
  background-color: rgba(244, 244, 244, 0.9);
  color: #555;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#navContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 7.5px;
}

#navContainer div {
  height: 25px;
}

#menu {
  position: fixed;
  top: 0;
  z-index: 2;
}

#menu > .material-icons {
  font-size: 35px;
  padding: 15px;
}

/* main width */
main {
  padding-left: 180px;
}

/* section */

/* make the section full height */
.full-height {
  height: 100vh;
}

.section {
  padding: 0;
}

section h3.page-title {
  font-weight: 200;
  margin: 0;
  padding: 30px 20px;
  text-transform: uppercase;
}

/* section Intro */
section#intro {
  padding-top: 85px;
  text-align: center;
}
#intro h3, #intro p {
  font-family: "Raleway", sans-serif;
}

#intro h3 {
  font-size: 45px;
}

#intro p {
  font-size: 25px;
  color: rgb(122, 122, 122);
}

#intro div#pulseBtn a {
  z-index: 0;
}

.highlight {
  border-bottom: 2px solid;
}

/* section About */

/* section Education */
div.card-image {
  position: relative;
  overflow: hidden;
}

div.card-image img {
  opacity: 1;
}

div.card-image:hover img {
  opacity: 0.6;
  transition: opacity 0.5s ease-in-out;
}

div.card-image span {
  position: absolute;
  bottom: -50px;
  height: 50px;
  width: 100%;
  padding-top: 5px;
  padding-left: 25px;
  background: rgba(255,255,255,.8);
}

div.card-image:hover span {
  bottom: 0;
  transition: bottom 0.5s ease-in-out;
}

/* section Experience */

/* section Projects */

/* section Skills */

/* section Contact */








/* fixedNav only show when sidenav is hidden */
@media(min-width: 992px) {
  #fixedNav {
    display: none;
  }
}

@media(max-width: 992px) {
  main {
    margin-top: 0px;
    padding-left: 0;
  }
}

@media(max-width: 512px) {
  #fixedNav{
    align-items: flex-end;
  }
  #navContainer {
    flex-direction: column;
  }
  #navContainer div {
    align-self: flex-end;
  }
  #navContainer i {
    display: none;
  }
}