/* ------ page ------ */
/* Make sure that padding behaves as expected */
* {
  box-sizing: border-box;
}

/* ------ Navigation Menu ------ */

/* sidenav width */
ul#slide-out {
  width: 180px;
}
/* sidenav logo */
ul#slide-out #logo {
  width: 100px;
  height: 100px;
}

ul#slide-out li > a {
  padding: 0 20px;
}

ul#slide-out li a span {
  text-transform: uppercase;
}

ul#slide-out li > a > i {
  margin: 0 20px 0 0;
}
/* add some padding to the logo */
/* add a bottom border to its parent  */
ul#slide-out > li:nth-child(1) {
  padding: 10px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
/* remove the logo hover effect */
ul#slide-out > li:nth-child(1) > a:hover {
  background-color: white;
}

ul#slide-out li:not(:nth-child(1)) a.active,
ul#slide-out li:not(:nth-child(1)) a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

ul#slide-out li:not(:nth-child(1)) a.active {
  background-color: rgba(0, 0, 0, 0.4);
  border-left: 2px solid rgb(255, 0, 0);
}

ul#slide-out > li:nth-child(8) {
  border-bottom: 1px dashed rgba(128, 128, 128, 0.3);
}

/* menu */
#menu {
  position: fixed;
  top: 0;
  z-index: 2;
  transition: top 0.3s;
}

#menu > .material-icons {
  font-size: 35px;
  padding: 15px;
}

/* ------ fixedNav ------ */
div#fixedNav {
  position: fixed;
  top: 0;
  z-index: 1;
  height: 65px;
  width: 100%;
  background-color: rgba(244, 244, 244, 0.95);
  color: #555;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 180px;
  transition: top 0.3s;
}

div#fixedNav div#navContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 7.5px;
}

div#fixedNav div#navContainer div {
  height: 25px;
}

/* ------ main ------ */
main {
  padding-left: 180px;
}

/* --- section --- */
/* make the section full height */
main .full-height {
  height: 100vh;
}

main .section {
  padding: 0;
}

section h3.page-title {
  font-size: 35px;
  font-weight: 200;
  margin: 0;
  padding: 20px 20px;
  text-transform: uppercase;
}

/* section Intro */
section#intro {
  padding-top: 85px;
  text-align: center;
}
section#intro h3,
section#intro p {
  font-family: "Raleway", sans-serif;
}

section#intro p {
  font-size: 1.8rem;
  color: rgb(122, 122, 122);
}

section#intro div#pulseBtn a {
  z-index: 0;
}

section .highlight {
  border-bottom: 2px solid;
}

/* section About */
section#about div.aboutRow {
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

section#about div.aboutRow div {
  align-self: center;
}

section#about div.aboutRow div.imgAbout {
  max-width: 60%;
}

section#about div.aboutRow div.contentAbout {
  text-align: right;
  border-left: 2px red solid;
  min-width: 50%;
}

section#about div.aboutRow div.contentAbout#selfAssess ul li b:nth-child(1) {
  display: none;
}

section#about img.responsive-img {
  max-width: 65%;
}

/* section Experience */
section#experience div#expRow {
  margin-top: 10px;
  padding: 10px 10px 10px 20px;
  border-left: 2px solid #fb8c00;
}

section#experience div#expRow .cardHead {
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section#experience div#expRow .cardHead div {
  align-self: center;
  text-align: right;
}

section#experience div#expRow .corpIntro {
  padding-top: 10px;
}

section#experience div#expRow h6 {
  text-transform: uppercase;
}

section#experience div#expRow ul li {
  list-style: disc inside;
}

section#experience div#expRow div.card-action {
  position: relative;
}

section#experience div#expRow div.card-action i {
  position: absolute;
  left: -33px;
  top: 15px;
}

/* section Projects */

section#projects div.carousel {
  min-height: 800px;
}

section#projects div.carousel div.carousel-item div.project {
  max-width: 75%;
  height: 85%;
  margin: 40px auto;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section#projects div.carousel div.carousel-item div.project div.proContainer {
  align-self: center;
  max-width: 90%;
  border-top: 4px solid rgba(83, 219, 112, 0.9);
  border-right: 4px solid rgba(83, 219, 112, 0.9);
  border-bottom: 4px solid rgba(142, 100, 221, 0.9);
  border-left: 4px solid rgba(142, 100, 221, 0.9);
  position: relative;
  overflow: hidden;
}

section#projects
  div.carousel
  div.carousel-item
  div.project
  div.proContainer
  div.projectIntro {
  position: absolute;
  top: -100%;
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
  /* border: 2px solid yellow; */
  background: rgba(255, 255, 255, 0.8);
  background: linear-gradient(
    rgba(83, 219, 112, 0.9),
    rgba(142, 100, 221, 0.9)
  );
}

section#projects
  div.carousel
  div.carousel-item
  div.project
  div.proContainer:hover
  div.projectIntro {
  top: 0;
  transition: top 0.5s ease-in-out;
}

section#projects
  div.carousel
  div.carousel-item
  div.project
  div.proContainer
  div.projectIntro
  div.outline {
  height: 60%;
  width: 80%;
  margin: 0 auto;
}

section#projects
  div.carousel
  div.carousel-item
  div.project
  div.proContainer
  div.projectIntro
  div.outline
  h5 {
  color: black;
  margin: 5% auto;
}

section#projects
  div.carousel
  div.carousel-item
  div.project
  div.proContainer
  div.projectIntro
  div.outline
  div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section#projects
  div.carousel
  div.carousel-item
  div.project
  div.proContainer
  div.projectIntro
  div.outline
  div
  p {
  color: black;
  font-size: 1.2rem;
}

section#projects
  div.carousel
  div.carousel-item
  div.project
  div.proContainer
  div.projectIntro
  div.outline
  div
  ul.tags {
  align-self: center;
}

section#projects
  div.carousel
  div.carousel-item
  div.project
  div.proContainer
  div.projectIntro
  div.outline
  div
  ul.tags
  li {
  display: inline-block;
  padding: 0.3em 0.8em;
  margin: 1em;
  background-color: #323232;
  color: #fff;
  font-size: 1.2em;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
}

section#projects
  div.carousel
  div.carousel-item
  div.project
  div.proContainer
  div.projectIntro
  div.sourceCode {
  height: 40%;
  /* border-top: 2px solid green; */
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

section#projects
  div.carousel
  div.carousel-item
  div.project
  div.proContainer
  div.projectIntro
  div.sourceCode
  a {
  color: white;
  /* padding-bottom: 2%; */
  align-self: center;
}

section#projects
  div.carousel
  div.carousel-item
  div.project
  div.proContainer
  div.projectIntro
  div.sourceCode
  a:hover {
  color: black;
}

/* section Skills */
section#skills div#skillsRow {
  margin-top: 10px;
  padding: 10px;
}

section#skills div#skillsRow h5 {
  text-transform: uppercase;
  font-weight: lighter;
}

/* Container for skill bars */
section#skills div.skillContainer {
  width: 100%; /* Full width */
  background-color: #e9e5e2; /* Grey background */
  margin: 10px auto;
  padding: 1px 2px;
  border-radius: 20px;
  box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
}

section#skills div.skillContainer .skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white; /* White text color */
  border-radius: 15px;
  box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
  height: 25px;
  line-height: 25px;
  font-size: 0.9rem;
  overflow: hidden;
}

section#skills div.skillContainer .skills span.skillHead {
  align-self: flex-start;
  padding-left: 10px;
}

section#skills div.skillContainer .skills span.skillTail {
  padding-right: 10px;
}

section#skills div.skillContainer .html {
  width: 90%;
  background-color: #f674a4;
  background-image: linear-gradient(top, #f674a4, #e06995);
  /* animation: html 2s ease-out; */
}
section#skills div.skillContainer .css {
  width: 85%;
  background-color: #2196f3;
  background-image: linear-gradient(top, #2196f3, #1d84d8);
}
section#skills div.skillContainer .js {
  width: 75%;
  background-color: #f0bb4b;
  background-image: linear-gradient(top, #f0bb4b, #d9aa44);
}
section#skills div.skillContainer .libs {
  width: 80%;
  background-color: #a1ce5b;
  background-image: linear-gradient(top, #a1ce5b, #91ba52);
}
section#skills div.skillContainer .frameworks {
  width: 65%;
  background-color: #66b3cc;
  background-image: linear-gradient(top, #66b3cc, #5da3ba);
}

section#skills div.skillContainer .node {
  width: 65%;
  background-color: #f674a4;
  background-image: linear-gradient(top, #f674a4, #e06995);
}
section#skills div.skillContainer .sql {
  width: 60%;
  background-color: #2196f3;
  background-image: linear-gradient(top, #2196f3, #1d84d8);
}
section#skills div.skillContainer .database {
  width: 70%;
  background-color: #a1ce5b;
  background-image: linear-gradient(top, #a1ce5b, #91ba52);
}

section#skills div.skillContainer .chrome {
  width: 75%;
  background-color: #f674a4;
  background-image: linear-gradient(top, #f674a4, #e06995);
}
section#skills div.skillContainer .vscode {
  width: 80%;
  background-color: #f0bb4b;
  background-image: linear-gradient(top, #f0bb4b, #d9aa44);
}
section#skills div.skillContainer .git {
  width: 70%;
  background-color: #66b3cc;
  background-image: linear-gradient(top, #66b3cc, #5da3ba);
}

/* @keyframes html {
  0%  { width:0px;}
  100%{ width:90%;}
} */

/* section Education */
section#education div#eduRow {
  margin-top: 10px;
  padding-left: 10px;
  border-left: 2px solid #1e88e5;
}

section#education div#eduRow div.col h6.header {
  position: relative;
}

section#education div#eduRow div.col h6.header > span {
  position: absolute;
  left: -34px;
  top: -2px;
}

section#education div.card-image {
  position: relative;
  overflow: hidden;
}

section#education div.card-image img {
  opacity: 1;
}

section#education div.card-image:hover img {
  opacity: 0.6;
  transition: opacity 0.5s ease-in-out;
}

section#education div.card-image span {
  position: absolute;
  bottom: -50px;
  height: 50px;
  width: 100%;
  line-height: 50px;
  padding-left: 25px;
  background: rgba(255, 255, 255, 0.8);
}

section#education div.card-image:hover span {
  bottom: 0;
  transition: bottom 0.5s ease-in-out;
}
/* section Contact */
section#contact.full-height {
  height: 750px;
}

section#contact #contactList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px auto;
  padding: 30px;
}

section#contact #contactList p a:nth-child(1) {
  z-index: 0;
}

section#contact #contactList p a:nth-child(2) {
  margin-left: 10px;
  font-size: 1.2rem;
}

section#contact #contactList p a:nth-child(2):hover {
  border-bottom: 1px solid red;
}

/* fixedNav only show when sidenav is hidden */
@media (min-width: 992px) {
  #fixedNav {
    display: none;
  }
}

/* main */
@media (max-width: 992px) {
  main {
    margin-top: 0px;
    padding-left: 0;
  }
  div#fixedNav {
    padding-left: 0px;
  }
}

@media (max-width: 512px) {
  /* --- fixedNav --- */
  div#fixedNav {
    align-items: flex-end;
  }
  div#fixedNav div#navContainer {
    flex-direction: column;
  }
  div#fixedNav div#navContainer div {
    align-self: flex-end;
  }
  div#fixedNav div#navContainer i {
    display: none;
  }
  div.card-image span {
    line-height: 25px;
  }
  /* section Intro */
  section#intro h3 {
    font-size: 1.5rem;
  }

  section#intro p {
    font-size: 1.2rem;
  }

  /* section Experience */
  section#experience div#expRow .cardHead {
    flex-direction: column;
  }
  section#experience div#expRow .cardHead a {
    align-self: center;
  }
  section#experience div#expRow .cardHead div {
    align-self: center;
    text-align: center;
  }
}

@media (max-height: 452px) {
  section#intro h3 {
    font-size: 1.8rem;
    margin-bottom: 35px;
  }

  section#intro p {
    display: none;
  }
}

@media (max-width: 378px) {
  section#contact #contactList {
    align-items: center;
  }
  section#contact #contactList p a:nth-child(2) {
    display: none;
  }
}

/* section education */
@media (min-width: 1368px) {
  section#education div.card {
    display: flex;
    flex-direction: row;
  }
  section#education div.card-image {
    align-self: center;
    max-width: 50%;
  }
}

/* section about */
@media (max-width: 738px) {
  section#about div.aboutRow {
    flex-direction: column;
    padding: 10px;
    border-left: 2px solid red;
  }

  section#about div.aboutRow div.contentAbout {
    border-left: none;
    text-align: left;
    padding-left: 10%;
  }

  section#about div.aboutRow div.contentAbout ul li {
    list-style: disc inside;
  }

  section#about
    div.aboutRow
    div.contentAbout#selfAssess
    > div:nth-child(1)
    ul
    li {
    list-style: none;
  }

  section#about div.aboutRow div.contentAbout#selfAssess ul li b:nth-child(1) {
    display: inline;
  }

  section#about div.aboutRow div.contentAbout#selfAssess ul li b:nth-child(2) {
    display: none;
  }

  section#about div.aboutRow div.imgAbout {
    text-align: center;
    max-width: 100%;
  }
}

@media (max-width: 1665px) {
  section#projects div.carousel div.carousel-item div.project div.proContainer {
    max-width: 100%;
  }
}

@media (max-width: 1258px) {
  section#projects div.carousel {
    min-height: 600px;
  }
}

@media (max-width: 915px) {
  section#projects div.carousel {
    min-height: 550px !important;
  }
}

@media (max-width: 750px) {
  section#projects div.carousel div.carousel-item div.project {
    max-width: 100%;
  }
  section#projects div.carousel div.carousel-item div.project div.proContainer {
    max-width: 75%;
  }
  section#projects div.carousel {
    min-height: 500px !important;
  }
}

@media (max-width: 650px) {
  section#projects div.carousel div.carousel-item div.project div.proContainer {
    max-width: 80%;
  }
  section#projects div.carousel {
    min-height: 450px !important;
  }
}

@media (max-width: 600px) {
  section#projects div.carousel {
    min-height: 400px !important;
  }
}

@media (max-width: 550px) {
  section#projects div.carousel div.carousel-item div.project {
    margin: 15px auto;
  }
  section#projects div.carousel div.carousel-item div.project div.proContainer {
    max-width: 75%;
  }
  section#projects div.carousel {
    min-height: 380px !important;
  }
}

@media (max-width: 450px) {
  section#projects div.carousel div.carousel-item div.project div.proContainer {
    max-width: 80%;
  }
  section#projects div.carousel {
    min-height: 360px !important;
  }
}

@media (max-width: 1168px) {
  section#projects
    div.carousel
    div.carousel-item
    div.project
    div.proContainer
    div.projectIntro
    div.outline
    div
    p {
    display: none;
  }
}

@media (max-width: 765px) {
  section#projects
    div.carousel
    div.carousel-item
    div.project
    div.proContainer
    div.projectIntro
    div.outline
    div
    ul.tags
    li {
    padding: 0.3em 0.5em;
    margin: 0.6em;
    font-size: 1em;
  }
}

@media (max-width: 550px) {
  section#projects
    div.carousel
    div.carousel-item
    div.project
    div.proContainer
    div.projectIntro
    div.outline
    div
    ul.tags
    li {
    padding: 0.2em 0.4em;
    margin: 0.4em;
    font-size: 0.8em;
  }

  section#projects
    div.carousel
    div.carousel-item
    div.project
    div.proContainer
    div.projectIntro
    div.sourceCode
    a
    i {
    font-size: 1.5em;
  }
}

@media (max-width: 365px) {
  section#skills div.skillContainer .skills span.skillTail {
    display: none;
  }
}

@media (max-width: 320px) {
  section#projects
    div.carousel
    div.carousel-item
    div.project
    div.proContainer
    div.projectIntro
    div.outline
    div {
    display: none;
  }
}
