#logo {
  width: 100px;
  height: 100px;
}
/* sidenav width */
#slide-out {
  width: 150px;
}
/* main width */
main {
  padding-left: 150px;
}

/* narrow the total width */
.sidenav li > a {
  padding: 0 20px;
}
.sidenav li > a > i.material-icons {
  margin: 0 20px 0 0;
}
/* add some padding to the logo and a bottom border to its parent */
ul.sidenav > li:nth-child(1) {
  padding: 10px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
/* remove the logo hover effect */
ul.sidenav > li:nth-child(1) > a:hover {
  background-color: white;
}
/* make the intro section full height */
.full-height {
  height: 100vh;
}

#fixedNav {
  position: fixed;
  top: 0;
  z-index: 1;
  height: 65px;
  width: 100%;
  background-color: #f6f6f6;
  color: #555;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#navContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7.5px;
}

#navContainer div {
  height: 25px;
}

#menu {
  position: fixed;
  top: 0;
  z-index: 2;
}

#menu > .material-icons {
  font-size: 35px;
  padding: 15px;
}
/* fixedNav only show when sidenav is hidden */
@media(min-width: 992px) {
  #fixedNav {
    display: none;
  }
}