/* ------ page ------ */
/* Make sure that padding behaves as expected */
* {
  box-sizing: border-box;
}

/* ------ Navigation Menu ------ */

/* sidenav width */
ul#slide-out {
  width: 180px;
}
/* sidenav logo */
ul#slide-out #logo {
  width: 100px;
  height: 100px;
}

ul#slide-out li > a {
  padding: 0 20px;
}
ul#slide-out li > a > i.material-icons {
  margin: 0 20px 0 0;
}
/* add some padding to the logo */
/* add a bottom border to its parent  */
ul#slide-out > li:nth-child(1) {
  padding: 10px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
/* remove the logo hover effect */
ul#slide-out > li:nth-child(1) > a:hover {
  background-color: white;
}

ul#slide-out li:not(:nth-child(1)) a.active,
ul#slide-out li:not(:nth-child(1)) a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

ul#slide-out li:not(:nth-child(1)) a.active {
  background-color: rgba(0, 0, 0, 0.4);
  border-left: 10px solid rgb(255, 0, 0);
}

/* menu */
#menu {
  position: fixed;
  top: 0;
  z-index: 2;
}

#menu > .material-icons {
  font-size: 35px;
  padding: 15px;
}

/* ------ fixedNav ------ */
div#fixedNav {
  position: fixed;
  top: 0;
  z-index: 1;
  height: 65px;
  width: 100%;
  background-color: rgba(244, 244, 244, 0.95);
  color: #555;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 180px;
}

div#fixedNav div#navContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 7.5px;
}

div#fixedNav div#navContainer div {
  height: 25px;
}

/* ------ main ------ */
main {
  padding-left: 180px;
}

/* --- section --- */
/* make the section full height */
main .full-height {
  height: 100vh;
}

main .section {
  padding: 0;
}

section h3.page-title {
  font-weight: 200;
  margin: 0;
  padding: 30px 20px;
  text-transform: uppercase;
}

/* section Intro */
section#intro {
  padding-top: 85px;
  text-align: center;
}
section#intro h3,
section#intro p {
  font-family: "Raleway", sans-serif;
}

section#intro h3 {
  font-size: 45px;
}

section#intro p {
  font-size: 25px;
  color: rgb(122, 122, 122);
}

section#intro div#pulseBtn a {
  z-index: 0;
}

section .highlight {
  border-bottom: 2px solid;
}

/* section About */
section#about div.aboutRow {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

section#about div.aboutRow div{
  align-self: center;
}

section#about div.aboutRow div.imgAbout{
  max-width: 65%;
}

section#about div.aboutRow div.contentAbout {
  text-align: left;
  padding-left: 20px;
  border-left: 2px red solid;
  min-width: 35%;
}

section#about div.aboutRow div.contentAbout#selfAssess {
  min-width: 45%;
}

section#about div.aboutRow div.contentAbout ul li{
  list-style: disc inside;
}

section#about div.aboutRow div.imgAbout#devdesImg {
  text-align: left;
}

section#about div.aboutRow div.imgAbout#assessImg{
  text-align: right;
}

/* section#about div.aboutRow div.contentAbout div#developer,
section#about div.aboutRow div.contentAbout div#designer
{
  text-align: left;
} */

section#about img.responsive-img {
  max-width: 65%;
}


/* section Experience */
section#experience div#expRow {
  margin-top: 10px;
  padding: 10px 10px 10px 20px;
  border-left: 2px solid #fb8c00;
}

section#experience div#expRow .cardHead {
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section#experience div#expRow .cardHead a {
  align-self: flex-start;
}

section#experience div#expRow .cardHead span {
  align-self: center;
}

section#experience div#expRow .corpIntro {
  padding-top: 10px;
}

section#experience div#expRow h6 {
  text-transform: uppercase;
}

section#experience div#expRow ul li {
  list-style: disc inside;
}

section#experience div#expRow div.card-action {
  position: relative;
}

section#experience div#expRow div.card-action i {
  position: absolute;
  left: -33px;
  top: 15px;
}

/* section Projects */

/* section Skills */
section#skills div#skillsRow {
  margin-top: 10px;
  padding: 10px;
}

section#skills div#skillsRow h5 {
  text-transform: uppercase;
}

/* Container for skill bars */
section#skills div.skillContainer {
  width: 100%; /* Full width */
  background-color: #e9e5e2; /* Grey background */
  margin: 10px auto;
  padding:1px 2px;
  border-radius: 20px;
  box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
}

section#skills div.skillContainer .skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white; /* White text color */
  border-radius: 15px;
  box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
  height: 25px;
  line-height: 25px;
  font-size: 0.9rem;
  overflow: hidden;
}

section#skills div.skillContainer .skills span.skillHead {
  align-self: flex-start;
  padding-left: 10px;
}

section#skills div.skillContainer .skills span.skillTail {
  padding-right: 10px;
}

section#skills div.skillContainer .html {
  width: 90%;
  background-color: #f674a4;
  background-image: linear-gradient(top, #f674a4, #e06995);
  /* animation: html 2s ease-out; */
}
section#skills div.skillContainer .css {
  width: 85%;
  background-color: #2196f3;
  background-image: linear-gradient(top, #2196f3, #1d84d8);
}
section#skills div.skillContainer .js {
  width: 75%;
  background-color: #f0bb4b;
  background-image: linear-gradient(top, #f0bb4b, #d9aa44);
}
section#skills div.skillContainer .libs {
  width: 80%;
  background-color: #a1ce5b;
  background-image: linear-gradient(top, #a1ce5b, #91ba52);
}
section#skills div.skillContainer .frameworks {
  width: 65%;
  background-color: #66b3cc;
  background-image: linear-gradient(top, #66b3cc, #5da3ba)
}

section#skills div.skillContainer .node {
  width: 65%;
  background-color: #f674a4;
  background-image: linear-gradient(top, #f674a4, #e06995);
}
section#skills div.skillContainer .sql {
  width: 60%;
  background-color: #2196f3;
  background-image: linear-gradient(top, #2196f3, #1d84d8);
}
section#skills div.skillContainer .database {
  width: 70%;
  background-color: #a1ce5b;
  background-image: linear-gradient(top, #a1ce5b, #91ba52);
}

section#skills div.skillContainer .chrome {
  width: 75%;
  background-color: #f674a4;
  background-image: linear-gradient(top, #f674a4, #e06995);
}
section#skills div.skillContainer .vscode {
  width: 80%;
  background-color: #f0bb4b;
  background-image: linear-gradient(top, #f0bb4b, #d9aa44);
}
section#skills div.skillContainer .git {
  width: 70%;
  background-color: #66b3cc;
  background-image: linear-gradient(top, #66b3cc, #5da3ba)
}

/* @keyframes html {
  0%  { width:0px;}
  100%{ width:90%;}
} */

/* section Education */
section#education div#eduRow {
  margin-top: 10px;
  padding-left: 10px;
  border-left: 2px solid #1e88e5;
}

section#education div#eduRow div.col h6.header {
  position: relative;
}

section#education div#eduRow div.col h6.header > span {
  position: absolute;
  left: -34px;
  top: -2px;
}

section#education div.card-image {
  position: relative;
  overflow: hidden;
}

section#education div.card-image img {
  opacity: 1;
}

section#education div.card-image:hover img {
  opacity: 0.6;
  transition: opacity 0.5s ease-in-out;
}

section#education div.card-image span {
  position: absolute;
  bottom: -50px;
  height: 50px;
  width: 100%;
  line-height: 50px;
  padding-left: 25px;
  background: rgba(255, 255, 255, 0.8);
}

section#education div.card-image:hover span {
  bottom: 0;
  transition: bottom 0.5s ease-in-out;
}
/* section Contact */
section#contact.full-height {
  height: 750px;
}

section#contact #contactList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px auto;
  padding: 30px;
}

section#contact #contactList p a:nth-child(1) {
  z-index: 0;
}

section#contact #contactList p a:nth-child(2) {
  margin-left: 10px;
  font-size: 1.2rem;
}

section#contact #contactList p a:nth-child(2):hover {
  border-bottom: 1px solid red;
}

/* fixedNav only show when sidenav is hidden */
@media (min-width: 992px) {
  #fixedNav {
    display: none;
  }
}

/* main */
@media (max-width: 992px) {
  main {
    margin-top: 0px;
    padding-left: 0;
  }
  div#fixedNav {
    padding-left: 0px;
  }
}

@media (max-width: 512px) {
  /* --- fixedNav --- */
  div#fixedNav {
    align-items: flex-end;
  }
  div#fixedNav div#navContainer {
    flex-direction: column;
  }
  div#fixedNav div#navContainer div {
    align-self: flex-end;
  }
  div#fixedNav div#navContainer i {
    display: none;
  }
  div.card-image span {
    line-height: 25px;
  }
  /* section Experience */
  section#experience div#expRow .cardHead {
    flex-direction: column;
  }
  section#experience div#expRow .cardHead a {
    align-self: center;
  }
}

@media (max-width: 378px) {
  section#contact #contactList {
    align-items: center;
  }
  section#contact #contactList p a:nth-child(2) {
    display: none;
  }
}

/* section education */
@media(min-width: 1368px) {
  section#education div.card {
    display: flex;
    flex-direction: row;
  }
  section#education div.card-image {
    align-self: center;
    max-width: 50%;
  }
}

/* section about */
@media(max-width: 635px) {

  section#about div.aboutRow {
    padding: 10px 10px 10px 20px;
    border-left: 2px solid red;
  }

  section#about div.aboutRow {
    flex-direction: column;
  }

  section#about div.aboutRow div.contentAbout {
    border-left: none;
  }

  section#about div.aboutRow div.imgAbout#devdesImg,
  section#about div.aboutRow div.imgAbout#assessImg
  {
    text-align: center;
  }

  section#about div.aboutRow div.imgAbout {
    max-width: 100%;
    order: 1;
  }

  section#about div.aboutRow div.contentAbout {
    order: 2
  }
}